.page-bar{
    margin:40px auto;
    margin-top: 7%;

}
ul,li{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none
}
.page-bar li:first-child>button {
    margin-left: 0px
}
.page-bar button{
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #5D6062;
    cursor: pointer;
    margin-right: 20px;
    background: #fff;
}
.page-bar button:hover{
    background-color: #eee;
}
.page-bar button .banclick{
    cursor:not-allowed;
}
.page-bar .active button{
    color: #fff;
    cursor: default;
    background-color: #E96463;
    border-color: #E96463;
}
.page-bar i{
    font-style:normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}
